<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>_(:зゝ∠)_趴一会</title>
    <script src="https://cdn.bootcss.com/vue/2.5.3/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.0.4/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/element-ui/2.0.4/index.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bubbly-bg@0.2.3/dist/bubbly-bg.js"></script>
</head>
<body>
<style>
    #card{
        -moz-box-shadow:7px 7px 15px #333333; -webkit-box-shadow:7px 7px 15px #333333; box-shadow:7px 7px 15px #333333;
    }
    .pop{
    }
</style>
<div style="display: flex;justify-content: center ;margin-top:150px">
    <div id="card">
    <span></span>
    <el-card  :style="{
    'width':'400px'
    }" >
        <div>
            登录
        </div>
        <div>
            <el-input v-model="username" class="pop"
                      style="width:340px;margin:10px">
                <template slot="prepend">
                    <i class="el-icon-message"></i>
                </template>
            </el-input>
        </div>

        <div>
            <el-input v-model="password" class="pop" type="password"
                      style="width:340px;margin:10px">
                <template slot="prepend">
                    <i class="el-icon-more"></i>
                </template>
            </el-input>
        </div>
        <div>
            <el-button @click="login" class="pop" style="width:130px;margin:10px 10px 20px 220px; padding:10px">
                gogogo<i class="el-icon-circle-check"></i>
            </el-button>
        </div>
    </el-card>
    </div>

</div>
<script>
window.vm = new Vue({
    el:'body>div',
    data:{
        username:'',
        password:''
    },
    methods:{
        login:function () {
            $.post('/api/login', {
                    username:vm.username,
                    password:vm.password
                }
            ).then(function (x) {
                console.log(x)
                if(x.code == 200){
                    window.location.href = '/'
                }
            })
        }
    }
})

$(document).mousemove(function(e){
    xx =(30*( e.pageX/$(window).width()-0.5))
    yy =-(30*( e.pageY/$(window).height()-0.5))
    $('#card').css('transform',`perspective(800px) rotateX(${yy}deg) rotateY(${xx}deg)` )
//    $("span").text(xx+ ' '+yy);
});

</script>
<script>bubbly();</script>
</body>
</html>